tr.black th {
    background: #1d3557;
    color: white;
}

th {
    position: sticky;
    top : 0;
}

  /* CSS untuk mengatasi tumpang tindih antara thead dan tbody */
thead th {
    background-color: #f7f7f7; /* Ganti warna latar belakang sesuai kebutuhan */
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  tbody td {
    background-color: #fff; /* Ganti warna latar belakang sesuai kebutuhan */
    position: relative;
    z-index: 1;
  }
  
  
  